<launch>

  <node pkg="pcl_pkg" type="pcl_from_gazebo.py" name="point_cloud_circular" output="screen" />
  
  <node name="pointcloud_to_laserscan" pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" output="screen">
    <!-- <remap from="scan_in" to="Obstacle_pointcloud"/> -->
    <remap from="cloud_in" to="Obstacle_pointcloud"/>
    <param name="target_frame" value="odom" />  
  </node>


</launch>